<!DOCTYPE html>
<html>
  <head>
    <title>Livetogether</title>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <script src="https://kit.fontawesome.com/db5b58bf59.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white pt-3pb-4">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <h5> <%= link_to 'livetogether', root_path, class: 'nav-link text-white'%> </h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
           <li class="nav-item">
           <%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
           </li>
           <li class="nav-item">
           <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-white' %>
           </li>
             <li class="nav-item">
           <%= link_to 'コメント一覧', comments_path, class: 'nav-link text-white' %>
           </li>
           <li>
           <%= link_to '投稿フォーム', new_comment_path, class: 'nav-link text-white' %>
           </li>
          <% else %>
           <li class="nav-item">
           <%= link_to  "新規登録",new_user_registration_path, class: 'nav-link text-white' %>
           </li>
           <li class="nav-item">
           <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
           </li>
          <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>
     </body>
</html>
